<%- include("header") %>

    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi numquam delectus voluptatum quam nulla!
        Voluptatum
        commodi tempore omnis. Numquam nemo, velit recusandae cumque illum a necessitatibus blanditiis sit distinctio
        soluta! In explicabo omnis, officiis nobis incidunt optio accusamus tempore quam!</p>

    <%- include("footer") %>